button{
  font-family: monospace;
  border-radius: 5px;
  transition: 0.5s ease;
  border-style: solid;
  size: 20px;
}
button:hover{
  background-color: rgb(41, 41, 41);
  color: aqua;
  border-style: dashed;
  border-color: aqua;
  box-shadow: 3px 3px gray;
}
h1{
  text-align: center;
  font-family: monospace;
}
p{
  text-align: center;
  font-family: monospace;
}
.button{
  display: flex;
  justify-content: center;
  align-items: center;
}
